langchain
langchain-community
langchain-openai
langgraph
openai
neo4j
faiss-cpu
sentence-transformers
python-dotenv
fastapi
uvicorn
pypdf
python-docx
tiktoken
pydantic
langchain_huggingface
langchain-google-genai
google-generativeai